---
interface Props {
  resetId: string;
  copyId: string;
}

const { resetId, copyId } = Astro.props;
---

<div class="action-bar">
  <button id={resetId} class="button button--secondary" type="button">입력값 초기화</button>
  <button id={copyId} class="button button--ghost" type="button">링크 복사</button>
</div>
