---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "링크 또는 iframe으로 활용할 수 있는 독립 웹페이지 모음" } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

